body {
    background-color: black;
}

#header {
    text-align: center;
    font-size: x-large;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-container {
    display: flex;
    justify-content: space-evenly;
    
}

.left-side-container {
    color: white;
    width: 25%;
}

.how-to-play {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.left-content h3 {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.left-side-container span {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

.right-side-container {
    color: white;
    width: 25%;
}

#gamePanel{
    width:400px;
    height:500px;
    background-image: url("./img/background.png");
    background-size: cover;
    position: relative;
    overflow:hidden;
}

#gamePanel .player{
    width: 30px;
    height: 30px;
    position:absolute;
    background-image: url(img/man.png);
    background-position:  0% 0%;
}

#gamePanel .left{
    width: 30px;
    height: 30px;
    position:absolute;
    background-image: url(img/man.png);
    background-position: 68%;
}

#gamePanel .right{
    width: 30px;
    height: 30px;
    position:absolute;
    background-image: url(img/man.png);
    background-position: 100% 100%;
}

#gamePanel .normal{
    position:absolute;
    background-color:White;
    overflow:hidden;
}

.miss {
    background-color:rgb(163,21,21);
}

#gamePanel .miss{
    position:absolute;
    background-color:rgb(163,21,21);
    overflow:hidden;
}

#gamePanel .flip{
    position:absolute;
    background-image: url(img/flip.png);
    overflow:hidden;
}

#gamePanel .thorn{
    position:absolute;
    background-image: url(img/thorn.png);
    overflow:hidden;
}

#gamePanel .score{
    position:absolute;
    font-size:12px;
    color: white;
    z-index:999;
}

#gamePanel {
    color: white;
}

#startBtn{
    border-width:20px;
    border-style:solid;
    border-color:Black Black Black Green;
    position:absolute;
    left:50%;
    top:200px;
    cursor:pointer;
    width:0px;
    height:0px;
    overflow:hidden;
}

.contact img {
    margin-top: 10px;
    width: 100px;
    height: 100px;

}

.contact {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#leaderboard {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scoreboard {
    margin-left: auto;
    margin-right: auto;
}